* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#grilla {
  background-image: url("../images/fondo-banner-humo-purpura-estetico_53876-129044.png");
  font-family: sans-serif;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto auto; }

.caja, .caja2, .caja3, .caja4, .caja5, .caja6, .caja7, .caja8, .caja9, .caja10, .caja11 {
  grid-column: 1/4; }

header {
  border-style: solid;
  margin: 0%;
  background-color: #e6c9f7;
  width: 100%; }

header img {
  margin: 10px;
  float: left;
  width: 100px;
  height: 100px; }

header h1 {
  font-weight: 600;
  font-family: 'Indie Flower';
  text-align: center;
  font-size: 35px;
  padding: 25px;
  transition: 2s; }

header h1:hover {
  font-size: 50px;
  padding: 35px; }

nav {
  background-color: #e6c9f7;
  display: flex;
  justify-content: right; }

nav ul li {
  list-style: none;
  margin-left: 2px;
  margin-bottom: 10px;
  padding: auto;
  display: inline; }

nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  margin: 4px;
  font-size: 20px;
  font-family: 'Indie Flower'; }

nav ul li a:hover {
  color: #ffffff; }

h2 {
  margin: 25px;
  font-style: oblique;
  text-align: center; }

p {
  margin: 8px; }

.caja4 {
  text-align: center; }

.foto {
  width: 250px;
  margin: 10px; }

footer {
  background-image: linear-gradient(50deg, #b650f2 6%, #e6c9f7 41%);
  padding: 5px;
  border-style: solid; }

footer p {
  color: #000000;
  font-family: "Indie Flower";
  text-align: center; }

.trata {
  margin: 10px; }

h3 {
  margin: 25px;
  font-style: oblique;
  text-align: center; }

.ubi {
  height: 250px;
  width: 98%;
  margin: 10PX; }

.caja7 {
  text-align: center; }

.caja10 {
  display: flex;
  justify-content: center;
  margin: 10px; }

.caja11 {
  text-align: center;
  margin: 10px; }

iframe {
  width: 560px;
  height: 315px; }

.mueva {
  animation-name: mianimacion;
  animation-duration: 6s;
  animation-delay: 1s;
  position: relative; }

.card--fondo1 {
  background-color: pink; }

.card--fondo2 {
  background-color: #b5e7b5; }

.card--fondo3 {
  background-color: lightblue; }

@keyframes mianimacion {
  0% {
    left: 0;
    top: 0px; }
  25% {
    left: 60px;
    top: 0px; }
  50% {
    left: -60px;
    top: 0px; }
  100% {
    left: 0;
    top: 0px; } }
